<div class="container">
<div class="row">
  <div class="col-md-12">
  <div class="well">
    <h1>{{title}}</h1>
    <ul>
      <li ng-repeat="skill in skills"><h3>{{skill}}</h3></li>
    </ul>
    <p>When Im not building something on the computer, helping my wife with her website, studying, or shredding on the guitar. I enjoy spending time with my wife and or, reading to my 2 month old about computer science, we really enjoy watching Douglas Crockford lectures together.</p>
  </div>
  </div>
</div>
</div>
