<div class="flxbx">
	<div class="flxnav">
		<div class="nav-button"><a ui-sref="home" href="#/">Home</a></div>
		<div class="nav-button"><a ui-sref="work" href="#/work">Work</a></div>
		<div class="nav-button"><a ui-sref="contact" href="#/contact">Contact</a></div>
		</div>	
		<h1 class="flxchld app-title">Contact Me</h1>
		<div class="flxchld col">
			<form action="//formspree.io/marksorce@gmail.com" method="POST">
			    <input type="text" name="name" placeholder="Your name">
			    <input type="email" name="_replyto" placeholder="Your email">
			    <textarea name="message" placeholder="your message"></textarea>

			    <input type="submit" value="Send">
			</form>
		</div>
		<div class="flxchld foot">2015 hand coded by Mark Sorce</div>
	</div>
</div>