<div class="container">
<div class="row">
  <div class="col-md-6">
  <div class="well">
    <h1 class="text-center">Let's work together</h1>
  </div>
  </div>
  <div class="col-md-6">
  <div class="well">
    <ul>
      <li><h4>Email: marksorce@gmail.com</h4></li>
      <li><h4>Phone: 949.287.8297</h4></li>
      <li><h4>Linkedin: <a href="https://www.linkedin.com/in/msorce" target="_blank">https://www.linkedin.com/in/msorce</a></h4></li>
      <li><h4>Github: <a href="https://github.com/msorce" target="_blank">https://github.com/msorce</a></h4></li>
    </ul>
  </div>
  </div>
</div>
</div>
