<div class="header-container" data-stellar-background-ratio="0.5">
		<div class="avatar animated fadeInUp"></div>
		<div class="name-title"> Mark Sorce</div>
		<div class="main-title"> Web Developer</div>
		<ul class="info-list">
			<li>EMAIL: MARKSORCE@GMAIL.COM</li>
			<li>P: 949.287.8297</li>
			<li>GITHUB: GITHUB.COM/MSORCE</li>
		</ul>
	</div> 
	<div class="intro">
		<div class="container ">
			<h1 class="list-title">Hi.</h1>
			<p>I'm Mark, a web developer, at work I use HTML5, CSS3, Javascript, jQuery, PHP and XML. I am constantly working on furthering my knowledge in programming, especially Javascript. My current personal projects utilize the MEAN stack,  MongoDB, Expressjs, Angularjs, and Nodejs.</p>
			<a href="//drive.google.com/file/d/0B9oE-3UZvwKoX3hHd043bGhOeTQ/view?usp=sharing" target="_blank"><div class="button"> VIEW MY R&Eacute;SUM&Eacute;</div></a>
			<hr>
			<h1 class="list-title">Skills</h1>
			<ul class="language-list">
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Javascript</li>
				<li>jQuery</li>
				<li>Nodejs</li>
				<li>PHP</li>
				<li>MySQL</li>
				<li>SQL</li>
				<li>XML</li>
				<li>MongoDB</li>
			</ul>
			<hr>
			<h1 class="list-title">Frameworks</h1>
			<ul class="language-list">
				<li>Expressjs</li>
				<li>Angularjs</li>
				<li>Bootstrap</li>
				<li>Foundation</li>
			</ul>
			<hr>
			<h1 class="list-title">Tools</h1>
			<ul class="language-list">
				<li>Sublime Text</li>
				<li>SCSS</li>
				<li>Git</li>
				<li>NPM</li>
				<li>Bower</li>
				<li>XOS</li>
				<li>Windows</li>
			</ul>
		</div>
	</div>
	<div class="pic-container " data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="container2">
				<ul class="cta-list">
					<li>
						<div class="cta"><br>
							<h4>Clean Code</h4>
							<p>Constantly improves code, and consistantly uses best practices.</p>
						</div>
					</li>
					<li>
						<div class="cta"><br>
							<h4>Craving Knowlege</h4>
							<p>Learning, & utilizing the latest web development technologies.</p>
						</div>
					</li>
					<li>
						<div class="cta"><br>
							<h4>Learns Quick</h4>
							<p>Great communication skills, Laid back and works well in a team.</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	