<div class="flxbx">
	<div class="flxnav">
		<div class="nav-button"><a ui-sref="home" href="#/">Home</a></div>
		<div class="nav-button"><a ui-sref="work" href="#/work">Work</a></div>
		<div class="nav-button"><a ui-sref="contact" href="#/contact">Contact</a></div>
		</div>	
		<h1 class="flxchld app-title">My Development</h1>
		<div class="flxchld col">
			<p class="app-content">I always try to challenge myself, I do this through my constant research and personal projects. I want to work with a company that strives to advance and grow, while utilizing powerful modern web development technologies.  </p>
		</div>
		<div class="flxchld foot"><div> &copy;2015 hand coded by Mark Sorce</div>
	</div>
</div>