<div class="container">
<div class="row">
  <div class="col-md-12">
  <div class="well">
    <h3 class="">{{title}}</h3>
    <p>I'm Mark, a web developer, at work I use HTML, CSS, Javascript, jQuery, C#, .NET, XML, and PhotoShop. I am constantly working on furthering my knowledge in programming, especially Javascript. My current personal projects utilize the MEAN stack, MongoDB, Expressjs, Angularjs, and Nodejs.I always try to challenge myself, I do this through my constant research and personal projects. I want to work with a company that strives to advance and grow, while utilizing powerful modern web development technologies.</p>
  </div>
  <h3 class="text-center">Skills</h3>
    <ul class="list-inline text-center">
      <!-- track by $index if Duplicates in a repeater are not allowed.-->
      <li class="col-sm-3 col-xs-6" ng-repeat="skill in skills track by $index" >
        <div class="alert alert-info">
        {{skill}}
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
