<div class="flxbx">
	<div class="flxnav">
		<div class="nav-button"><a ui-sref="home" href="#/">Home</a></div>
		<div class="nav-button"><a ui-sref="work" href="#/work">Work</a></div>
		<div class="nav-button"><a ui-sref="contact" href="#/contact">Contact</a></div>
		</div>	
		<h1 class="flxchld app-title">My Passion</h1>
		<div class="flxchld col">Ut ratione amet aperiam incidunt numquam, totam animi commodi illum, harum? Minus, necessitatibus asperiores doloremque quas libero, et quisquam eveniet.</div>
		
		<div class="flxchld foot"><div> &copy;2015 hand coded by Mark Sorce</div>
	</div>
</div>