<nav class="navbar-inverse ">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref-active="active" ui-sref="home">Home</a></li>
        <li><a ui-sref-active="active" ui-sref="about">About</a></li>
        <li><a ui-sref-active="active" ui-sref="projects">Projects</a></li>
        <li><a ui-sref-active="active" ui-sref="contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://docs.google.com/document/d/1sDRVmp_cIA0eKLbDhaTqWzKsLE1jPZ-qpu1LgURC4d0/edit?usp=sharing" target="_blank">
            <span class="glyphicon glyphicon-user"></span> Resume</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/msorce" target="_blank">
            <span class="glyphicon glyphicon-log-in"></span> Linkedin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron" ng-controller="bannerCtrl">
  <div parallax="{ 'invertX': false, 'invertY': false, 'limitX': 10, 'limitY': 10}">
    <div class="layer" data-depth="1">
      <img class="img-circle img-responsive center-block " style="width:200px;border: 5px solid #66FFFF;" src="images/mark-sorce-avatar.jpg" alt="">
    </div>
  </div>
  <div parallax="{ 'invertX': false, 'invertY': false, limitX: 10, limitY: 10}">
    <div class="layer" data-depth="2">
      <h1 parallax class="text-center">{{name}}</h1>
    </div>
    <ul class="list-inline text-center">
      <li>E:{{email}}</li>
      <li>L:{{resume}}</li>
      <li>G:{{github}}</li>
    </ul>
  </div>
</div>
