@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text&display=swap');
body {
  font: arial;
  background: #000;
}
.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  position: relative;
  /* cursor: url(images/my-cursor.png), auto; */
}

nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 56%;
  transform: translateY(-56%);
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 500px;
}

.particles-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
a {
  font-size: 120%;
  transform: rotate(-90deg);
  display: inline-block;
  color: #fff;
  text-decoration: none;
  animation: float 15s ease-in-out infinite;
  letter-spacing: 1.5px;
}
a:nth-child(1) {
  animation-delay: 1s
}
a:nth-child(2) {
  animation-delay: .2s
}
a:nth-child(3) {
  animation-delay: 4s
}
a:nth-child(4) {
  animation-delay: 1.5s
}

@media screen and (max-width: 816px) {
nav {
  top: 77%;
  transform: translateY(-77%);
}  

}
.name {
  position: absolute;
  font-family: 'Libre Barcode 39 Text', monospace;
  color: #fff;
  font-size: 10em;
  top: 46%;
  transform: translateY(-46%);
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.name span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 11px;
  padding-top: 20px;
  display: block;
  color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes float {
	0% {
		box-shadow: 0 0px 0px 0px rgba(0,0,0,0.2);
		transform: translatey(0px)rotate(-90deg);
	}
	60% {
		box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1);
		transform: translatey(-10px)rotate(-90deg);
	}
	100% {
		box-shadow: 0 0px 0px 0px rgba(0,0,0,0.2);
		transform: translatey(0px)rotate(-90deg);
	}
}
copy {
  color: #fff;
  opacity: .3;
  position: absolute;
  bottom: 0;
  left: 7px;
  font-size: 9px;
}
